{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monkey Places</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <nav>
      <div>
        <a href="admin/" target="_blank" rel="noopener noreferrer"
          >Go to the Admin Page</a
        >
      </div>
    </nav>
    <main>
      <h1>Google Places API</h1>
      <p>
        This page retrieves info from Google Maps Places API and inserts it onto
        the local database.
      </p>
      <form action="/" method="post">
        {% csrf_token %}
        <input
          type="text"
          id="place"
          name="place"
          placeholder="Enter your search"
          required
        />
        <input type="submit" value="Search" />
      </form>
    </main>
  </body>
</html>
